<%- include('../partials/header') %>

<div class="section">
	<a class="waves-effect waves-light btn" href="/books/new"> Add a book </a>
</div>

<div class="section">
	<div class="row">
		<% books.forEach(function(b) { %>
		<div class="col s2">
			<a href="/books/<%= b._id %>"
				><img src="<%= b.bookCover %>" class="responsive-img card"
			/></a>
		</div>
		<% }); %>
	</div>
</div>

<%- include('../partials/footer') %>
