<%- include('../partials/header') %>
<h3>New Book</h3>

<form action="/books" method="POST" enctype="multipart/form-data">
    <ul>
    <li>Title:</label>
    <input type="text" name="title" /></li>
	<li><label>Author:</label>
	<input type="text" name="author" />
	<li><label>Rating</label>
    <input type="number" name="rating" min="1" max="5"/>
<!-- 
    <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="images">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate">
        </div>
      </div> -->
    <li><input type="file" name="image"></li>
<br>
	<input class="waves-effect waves-light btn" type="submit" value="Add book" />
</ul>
</form>
<%- include('../partials/footer') %>