<!DOCTYPE html>
<html>
	<head>
		<!-- <title>Bookshelf</title> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<body class="center-align"></body>
	</head>
	<body>
	<nav>
		<!-- <a href="/users">Profile |</a> -->
		<a href="/users">Profile |</a>
		<a href="/"> Home |</a>
		<a href="/books"> All Books |</a>
			<% if (!user) { %>
			<a href="/auth/google">Login</a>
			<% }else { %>
			<a href="/logout">Log Out</a>
			<% } %>
	</nav>
</html>
<!-- class= "#ffe082 amber lighten-4" -->