<%- include('./partials/header') %>
<!-- Login -->
<h1>Bookshelf</h1>
<img src=" " />
<div class="center">
	<a
		class="btn-floating btn-large waves-effect waves-light amber lighten-2"
		href="/books/new"
	>
		<i class="material-icons">add</i></a
	>
</div>
<%- include('./partials/footer') %>
