<%- include('./partials/header') %>
<!-- Login -->

<h3>My shelf</h3>
<!-- ALL BOOKS -->
<section class="container">
	<div class="row">
		<div class="col s12">
			<div class="card grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Featured Favourite</span>
					<p>
						I am a very simple book. I am good at containing small bits of
						information. I am convenient because I require little markup to use
						effectively.
					</p>
				</div>
				<div class="card-action">
					<a href="#">Details</a>
				</div>
			</div>
		</div>
	</div>

	<!-- FAVOURITES SHELF -->
	<div class="row">
		<div class="col s12">
			<div class="card grey darken-1">
				<div class="card-content white-text">
					<span class="card-title"> Book </span>
					<p>
						I am a very simple book. I am good at containing small bits of
						information. I am convenient because I require little markup to use
						effectively.
					</p>
				</div>
				<div class="card-action">
					<a href="#">Details</a>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('./partials/footer') %>
